@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

*{
  color: white;
}

body{
  background: #05051e;
  
}

:root {

  /* Fonts */
  --font-body: "DM Sans", sans-serif;;
  --font-heading:"Plus Jakarta Sans", sans-serif;
}

:root{

  --gradient-blue-primary: linear-gradient(
      94deg,
      #43a5fe 21.18%,
      #0064c1 104.4%
    );

  --white-color:#ffffff;


}

.gradient-text {
  background:linear-gradient(
      94deg,
      #43a5fe 21.18%,
      #0064c1 104.4%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .bg-gradient-blue {
    background: var(--gradient-blue-primary);
  }
}



.heading{
  font-family: var(--font-heading);
}


.para{
  font-family: var(--font-body);
}

